@model List<FlyArcARS.ApplicationLogic.Data.Administrator>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
@foreach (var Administrator in Model)
{
    <div>
        @Administrator.FullName
    </div>
    <div>
        @Administrator.UserName
    </div>
    <div>
        @Administrator.Password
    </div>

}
<a href='@Url.Action("AddCustomer", "Administrator")'>Add Customer</a>