@model FlightAddTicketViewModel;
@{
    ViewData["Title"] = "AddFlight";
}
<h1>AddFlight</h1>
<form asp-action="AddFlight" method="post">
    <div class="row">
        <div class="col-2">
            PassengerFirstName
        </div>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="PassengerFirstName" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            PassengerLastName
        </div>
        <div class="col-10">
            <input class="form-control"
                   asp-for="PassengerLastName" />


        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Type
        </div>
        <div class="col-10">
            <input class="form-control"
                   asp-for="Type" />


        </div>
   </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>